html,
body
{
  margin: 0;
  padding: 0;
}

.demo-container--header
{
  margin: 25px 20px;

  text-transform: capitalize;

  color: #333;

  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 36px;
  line-height: 1.2;
}

.demo-container--hashLink
{
  display: none;

  margin-left: 13px;

  text-decoration: none;

  color: #aaa;
}

.demo-container--hashLink:hover
{
  text-decoration: underline;

  color: #a5473a;
}

.demo-container--header:hover .demo-container--hashLink
{
  display: inline;
}

.demo-container--row
{
  margin: 10px 20px;
}

.demo-container--custom
{
  position: relative;

  display: inline-block;

  margin: 50px 80px;
}

.demo-container--custom:before
{
  content: 'custom layout';
}
/*@value family arial,sans-serif;*/
@keyframes button-action--flicker
{
  from,
  to
  {
    background-color: #fc0;
  }

  40%,
  60%
  {
    background-color: #ffe066;
  }
}

.button-action--control
{
  display: inline-block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background .1s ease-out;
  text-align: center;
  text-decoration: none;

  color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #ffdb4d;

  font-family: arial,sans-serif;

  -webkit-tap-highlight-color: transparent;
}

.button-action--control:hover
{
  background: #ffd633;
}

.button-action--control:focus
{
  animation: button-action--flicker 1s infinite linear;
}

.button-action--control:active
{
  background: #fc0;
}

.button-action--control:disabled
{
  cursor: default;

  color: rgba(0,0,0,.5);
  background: #ebebeb;
  box-shadow: none;
}
.button-action-xs--control
{

  padding: 0 10px;

  font-size: 13px;
  line-height: 24px;
}
.button-action-s--control
{

  padding: 0 13px;

  font-size: 13px;
  line-height: 28px;
}
.button-action-m--control
{

  padding: 0 15px;

  font-size: 15px;
  line-height: 32px;
}
.button-action-l--control
{

  padding: 0 18px;

  font-size: 18px;
  line-height: 38px;
}
.button-normal--control
{
  display: inline-block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: box-shadow .1s ease-out;
  text-align: center;
  text-decoration: none;

  color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;

  font-family: arial,sans-serif;

  -webkit-tap-highlight-color: transparent;
}

.button-normal--control:hover
{
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.button-normal--control:focus
{
  box-shadow: inset 0 0 0 2px #ffdb4d;
}

.button-normal--control:active
{
  background: #f6f5f3;
}

.button-normal--control:disabled
{
  cursor: default;

  color: rgba(0,0,0,.5);
  background: #ebebeb;
  box-shadow: none;
}
.button-normal-xs--control
{

  padding: 0 10px;

  font-size: 13px;
  line-height: 24px;
}
.button-normal-s--control
{

  padding: 0 13px;

  font-size: 13px;
  line-height: 28px;
}
.button-normal-m--control
{

  padding: 0 15px;

  font-size: 15px;
  line-height: 32px;
}
.button-normal-l--control
{

  padding: 0 18px;

  font-size: 18px;
  line-height: 38px;
}
.check--wrapper
{
  position: relative;

  display: inline-block;

  color: #000;

  font-family: arial,sans-serif;
  line-height: normal;
}

.check--control
{
  position: relative;

  display: inline-block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background .1s ease-out,box-shadow .1s ease-out;

  border: none;
  border-radius: 3px;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;

  line-height: normal;

  -webkit-tap-highlight-color: transparent;
}

.check--control:hover
{
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.check--control:active
{
  background: #f6f5f3;
}

.check--control:before
{
  visibility: hidden;

  content: '\A0';
}

.check--control:after
{
  position: absolute;
  top: -11px;
  left: 2px;

  display: block;
  visibility: hidden;

  content: '';
  transition: top .05s,opacity .05s,visibility 0s .05s;

  opacity: 0;
}

.check--native
{
  position: absolute;

  margin: 0;

  opacity: 0;
  border: 0;
  outline: 0;
}

.check--native:checked + .check--control
{
  background: #ffeba0;
  box-shadow: inset 0 0 0 1px #ccbd80;
}

.check--native:checked + .check--control:after
{
  top: -5px;

  visibility: visible;

  opacity: 1;
}

.check--native:focus + .check--control
{
  box-shadow: inset 0 0 0 2px #ffdb4d;
}

.check--native:disabled + .check--control
{
  cursor: default;

  background: #ebebeb;
  box-shadow: none;
}

.check--native:disabled + .check--control:after,
.check--native:disabled ~ .check--label
{
  opacity: .5;
}
.check-s--wrapper
{

  font-size: 13px;
}

.check-s--control
{

  width: 14px;
  height: 14px;
}

.check-s--control:after
{
  width: 16px;
  height: 16px;

  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20d%3D%22M13.795%201L5.79%2012.527%202.036%208.503%201%209.773%205.917%2015%2015%202.112%2013.795%201z%22%2F%3E%3C%2Fsvg%3E) 0 0 no-repeat;
}

.check-s--native
{

  width: 14px;
  height: 14px;
}

.check-s--label
{

  margin: 0 0 0 5px;
}
.check-m--wrapper
{

  font-size: 15px;
}

.check-m--control
{

  width: 17px;
  height: 17px;
}

.check-m--control:after
{
  width: 18px;
  height: 18px;

  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20d%3D%22M15.623%201l-9.15%2013.174-4.287-4.6L1%2011.03%206.62%2017%2017%202.27%2015.623%201z%22%2F%3E%3C%2Fsvg%3E) 0 0 no-repeat;
}

.check-m--native
{

  width: 17px;
  height: 17px;
}

.check-m--label
{

  margin: 0 0 0 7px;
}
.check-group--container
{
  display: inline-block;
}
.check-group-s--container
{
}

.check-group-s--wrapper
{

  display: block;

  margin: 0 0 13px;
}

.check-group-s--control
{
}

.check-group-s--native
{
}

.check-group-s--label
{
}
.check-group-m--container
{
}

.check-group-m--wrapper
{

  display: block;

  margin: 0 0 15px;
}

.check-group-m--control
{
}

.check-group-m--native
{
}

.check-group-m--label
{
}
.popup--popup
{
  position: absolute;
  top: calc(100% + 8px);
  left: 0;

  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 10px 20px -5px rgba(0,0,0,.4);
}
.color-picker--container
{
  position: relative;

  display: inline-block;

  box-sizing: border-box;
}

.color-picker--preview
{
  position: relative;
  z-index: 0;

  display: inline-block;

  cursor: pointer;
  vertical-align: top;

  border: none;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;

  -webkit-tap-highlight-color: transparent;
}

.color-picker--preview:hover
{
  z-index: 1;

  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.color-picker--preview:focus
{
  z-index: 1;

  box-shadow: inset 0 0 0 2px #fc0;
}

.color-picker--preview:disabled
{
  z-index: 1;

  cursor: default;

  box-shadow: inset 0 0 0 1px #ccc;
}

.color-picker--preview:active
{
  background: #f6f5f3;
}

.color-picker--wrapper
{
  width: 100%;
}

.color-picker--control
{
  position: relative;
  z-index: 0;

  box-sizing: border-box;
  width: 100%;
}

.color-picker--clear
{
  z-index: 0;
}

.color-picker--menu
{

  z-index: 1;

  padding: 0 0 1px;

  background: #fff;
}

.color-picker--line
{
  margin: 0 1px 0 0;

  white-space: nowrap;

  line-height: 0;
}

.color-picker--item
{
  display: inline-block;

  margin: 1px 0 0 1px;

  cursor: pointer;
}

.color-picker--item:hover
{
  box-shadow: 0 0 0 1px #ccc;
}

/* mixin */

.color-picker--isClosed
{
  display: none;
}

.color-picker--isOpened
{
  display: block;
}
.input--wrapper
{
  position: relative;

  display: inline-block;
}

.input--control
{
  box-sizing: border-box;
  width: 100%;

  transition: box-shadow .1s ease-out;

  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: inset 0 0 0 1px #ccc;

  font-family: arial,sans-serif;
  line-height: normal;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.input--control::-webkit-input-placeholder,
.input--control:-moz-placeholder,
.input--control::-moz-placeholder,
.input--control:-ms-input-placeholder
{
  text-indent: 0;

  color: #999;
}

.input--control:focus
{
  box-shadow: inset 0 0 0 2px #fc0;
}

.input--control:disabled
{
  cursor: default;

  color: rgba(0,0,0,.5);
  background: #ebebeb;
  box-shadow: none;
}

.input--clear
{
  position: absolute;
  top: 1px;
  right: 1px;

  display: block;

  cursor: pointer;
  transition: opacity .1s ease-out;

  opacity: .3;
}

.input--clear:hover
{
  opacity: 1;
}
.input-xs--wrapper
{
}

.input-xs--control
{

  height: 24px;
  padding: 0 24px 0 7px;

  font-size: 13px;
}

.input-xs--clear
{

  width: 22px;
  height: 22px;

  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cpolygon%20points%3D%2210%2C0.7%209.3%2C0%205%2C4.3%200.7%2C0%200%2C0.7%204.3%2C5%200%2C9.3%200.7%2C10%205%2C5.7%209.3%2C10%2010%2C9.3%205.7%2C5%22%2F%3E%3C%2Fsvg%3E) 50% 50% no-repeat;
}
.color-picker-xs--container
{

  padding: 0 0 0 24px;
}

.color-picker-xs--preview
{

  width: 24px;
  height: 24px;
  margin: 0 -1px 0 -24px;

  line-height: 24px;
}

.color-picker-xs--preview:disabled
{
  background: linear-gradient(-45deg,#fff 16px,#ccc 16px, #ccc 17px,#fff 17px) !important;
}

.color-picker-xs--wrapper
{
}

.color-picker-xs--control
{
}

.color-picker-xs--clear
{
}

.color-picker-xs--menu
{
}

.color-picker-xs--line
{
}

.color-picker-xs--item
{

  width: 14px;
  height: 14px;
}

/* mixin */

.color-picker-xs--isClosed
{
}

.color-picker-xs--isOpened
{
}
.input-s--wrapper
{
}

.input-s--control
{

  height: 28px;
  padding: 0 28px 0 8px;

  font-size: 13px;
}

.input-s--clear
{

  width: 26px;
  height: 26px;

  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cpolygon%20points%3D%2210%2C0.7%209.3%2C0%205%2C4.3%200.7%2C0%200%2C0.7%204.3%2C5%200%2C9.3%200.7%2C10%205%2C5.7%209.3%2C10%2010%2C9.3%205.7%2C5%22%2F%3E%3C%2Fsvg%3E) 50% 50% no-repeat;
}
.color-picker-s--container
{

  padding: 0 0 0 28px;
}

.color-picker-s--preview
{

  width: 28px;
  height: 28px;
  margin: 0 -1px 0 -28px;

  line-height: 28px;
}

.color-picker-s--preview:disabled
{
  background: linear-gradient(-45deg,#fff 19px,#ccc 19px, #ccc 20px,#fff 20px) !important;
}

.color-picker-s--wrapper
{
}

.color-picker-s--control
{
}

.color-picker-s--clear
{
}

.color-picker-s--menu
{
}

.color-picker-s--line
{
}

.color-picker-s--item
{

  width: 17px;
  height: 17px;
}

/* mixin */

.color-picker-s--isClosed
{
}

.color-picker-s--isOpened
{
}
.input-m--wrapper
{
}

.input-m--control
{

  height: 32px;
  padding: 0 32px 0 10px;

  font-size: 15px;
}

.input-m--clear
{

  width: 30px;
  height: 30px;

  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%3E%3Cpolygon%20points%3D%2214%2C0.7%2013.3%2C0%207%2C6.3%200.7%2C0%200%2C0.7%206.3%2C7%200%2C13.3%200.7%2C14%207%2C7.7%2013.3%2C14%2014%2C13.3%207.7%2C7%22%2F%3E%3C%2Fsvg%3E) 50% 50% no-repeat;
}
.color-picker-m--container
{

  padding: 0 0 0 32px;
}

.color-picker-m--preview
{

  width: 32px;
  height: 32px;
  margin: 0 -1px 0 -32px;

  line-height: 32px;
}

.color-picker-m--preview:disabled
{
  background: linear-gradient(-45deg,#fff 22px,#ccc 22px, #ccc 23px,#fff 23px) !important;
}

.color-picker-m--wrapper
{
}

.color-picker-m--control
{
}

.color-picker-m--clear
{
}

.color-picker-m--menu
{
}

.color-picker-m--line
{
}

.color-picker-m--item
{

  width: 19px;
  height: 19px;
}

/* mixin */

.color-picker-m--isClosed
{
}

.color-picker-m--isOpened
{
}
.link--control,
.link--control:visited
{
  cursor: pointer;
  transition: color .15s ease-out;
  text-decoration: none;

  color: #44b;

  font-family: arial,sans-serif;
  line-height: normal;
}

.link--control:hover
{
  color: #e00;
}
.link-s--control
{

  font-size: 13px;
}
.link-m--control
{

  font-size: 15px;
}
.link-l--control
{

  font-size: 18px;
}
.radio--container
{
  display: inline-block;
}

.radio--wrapper
{
  position: relative;

  display: block;

  color: #000;

  font-family: arial,sans-serif;
  line-height: normal;
}

.radio--control
{
  position: relative;

  display: inline-block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background .1s ease-out,box-shadow .1s ease-out;

  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;

  line-height: normal;

  -webkit-tap-highlight-color: transparent;
}

.radio--control:hover
{
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.radio--control:active
{
  background: #f6f5f3;
}

.radio--control:before
{
  visibility: hidden;

  content: '\A0';
}

.radio--control:after
{
  position: absolute;

  visibility: hidden;

  content: '';

  opacity: 0;
  border-radius: 50%;
  background: #000;
}

.radio--native
{
  position: absolute;

  margin: 0;

  opacity: 0;
  border: 0;
  outline: 0;
}

.radio--label
{
  /* base */
}

.radio--native:checked + .radio--control
{
  background: #ffeba0;
}

.radio--native:checked + .radio--control:after
{
  visibility: visible;

  opacity: 1;
}

.radio--native:disabled + .radio--control
{
  cursor: default;

  background: #ebebeb;
  box-shadow: none;
}

.radio--native:disabled + .radio--control:after,
.radio--native:disabled ~ .radio--label
{
  opacity: .5;
}
.radio-s--container
{
}

.radio-s--wrapper
{

  margin: 0 0 13px;

  font-size: 13px;
}

.radio-s--control
{

  width: 14px;
  height: 14px;
}

.radio-s--control:after
{
  top: 4px;
  left: 4px;

  width: 6px;
  height: 6px;
}

.radio-s--native
{
}

.radio-s--label
{

  margin: 0 0 0 5px;
}
.radio-m--container
{
}

.radio-m--wrapper
{

  margin: 0 0 15px;

  font-size: 15px;
}

.radio-m--control
{

  width: 17px;
  height: 17px;
}

.radio-m--control:after
{
  top: 5px;
  left: 5px;

  width: 7px;
  height: 7px;
}

.radio-m--native
{
}

.radio-m--label
{

  margin: 0 0 0 7px;
}
.radio-group--container
{
  display: inline-block;

  white-space: nowrap;
}

.radio-group--wrapper
{
  position: relative;

  display: inline;
}

.radio-group--control
{
  position: relative;
  z-index: 0;

  display: inline-block;

  margin-right: -1px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;

  color: #000;
  border: none;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;

  font-family: arial,sans-serif;

  -webkit-tap-highlight-color: transparent;
}

.radio-group--wrapper:first-child .radio-group--control
{
  border-radius: 3px 0 0 3px;
}

.radio-group--wrapper:last-child .radio-group--control
{
  margin-right: 0;

  border-radius: 0 3px 3px 0;
}

.radio-group--control:hover
{
  z-index: 1;

  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.radio-group--native
{
  position: absolute;

  opacity: 0;
}

.radio-group--native:focus + .radio-group--control
{
  z-index: 1;

  box-shadow: inset 0 0 0 2px #ffdb4d;
}

.radio-group--native + .radio-group--control:active
{
  background: #f6f5f3;
}

.radio-group--native:checked + .radio-group--control
{
  position: relative;

  background: #ffeca6;
}

.radio-group--native:checked + .radio-group--control:active
{
  background: #fee481;
}

.radio-group--native:disabled + .radio-group--control
{
  z-index: 0;

  cursor: default;

  color: #aaa;
  background: #ebebeb;
  box-shadow: none;
}

.radio-group--native:disabled:checked + .radio-group--control
{
  background: #d9d9d9;
}
.radio-group-xs--container
{
}

.radio-group-xs--wrapper
{
}

.radio-group-xs--control
{

  padding: 0 10px;

  font-size: 13px;
  line-height: 24px;
}

.radio-group-xs--native
{
}
.radio-group-s--container
{
}

.radio-group-s--wrapper
{
}

.radio-group-s--control
{

  padding: 0 13px;

  font-size: 13px;
  line-height: 28px;
}

.radio-group-s--native
{
}
.radio-group-m--container
{
}

.radio-group-m--wrapper
{
}

.radio-group-m--control
{

  padding: 0 15px;

  font-size: 15px;
  line-height: 32px;
}

.radio-group-m--native
{
}
.radio-group-l--container
{
}

.radio-group-l--wrapper
{
}

.radio-group-l--control
{

  padding: 0 18px;

  font-size: 18px;
  line-height: 38px;
}

.radio-group-l--native
{
}
.arrow--control:after
{
  position: absolute;
  top: 50%;

  width: 11px;
  height: 6px;
  margin: -3px 0 0;

  content: '';
  transition: transform .1s ease-out;

  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%226%22%3E%3Cpath%20d%3D%22M10.08%200L5.5%204.36.91%200%200%20.86l5.5%205.25L11%20.86z%22%2F%3E%3C%2Fsvg%3E) 0 50% no-repeat;
}

.arrow--control:disabled:after
{
  opacity: .4;
}
.select--wrapper
{
  position: relative;

  display: inline-block;
}

.select--control
{
}

.select--menu
{

  z-index: 1;

  overflow-y: auto;

  min-width: 100%;

  background: #fff;
}

.select--item
{
  -webkit-tap-highlight-color: transparent;
}

/* mixins */

.select--isClosed:after
{
  transform: rotate(0deg);
}

.select--isOpened:after
{
  transform: rotate(-180deg);
}

.select--isCheckedItem
{
  background-repeat: no-repeat;
}

.select--isFocused
{
  background-color: #ffeba0;
}
.menu--menu
{
  /* base */
}

.menu--item
{
  display: block;

  cursor: pointer;
  white-space: nowrap;

  font-family: arial,helvetica,sans-serif;
}
.menu-s--menu
{

  padding: 4px 0;
}

.menu-s--item
{

  padding: 0 15px 0 30px;

  font-size: 13px;
  line-height: 24px;
}
.select-s--wrapper
{
}

.select-s--control
{

  position: relative;

  padding-right: 25px;

  text-align: left;
}

.select-s--control:after
{
  right: 10px;
}

.select-s--menu
{

  max-height: 200px;
}

.select-s--item
{
}

/* mixins */

.select-s--isClosed
{
}

.select-s--isOpened
{
}

.select-s--isCheckedItem
{

  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20d%3D%22M13.795%201L5.79%2012.527%202.036%208.503%201%209.773%205.917%2015%2015%202.112%2013.795%201z%22%2F%3E%3C%2Fsvg%3E);
  background-position: 10px 50%;
  background-size: 13px;
}

.select-s--isFocused
{
}
.menu-m--menu
{

  padding: 6px 0;
}

.menu-m--item
{

  padding: 0 20px 0 34px;

  font-size: 15px;
  line-height: 28px;
}
.select-m--wrapper
{
}

.select-m--control
{

  position: relative;

  padding-right: 29px;

  text-align: left;
}

.select-m--control:after
{
  right: 12px;
}

.select-m--menu
{

  max-height: 230px;
}

.select-m--item
{
}

/* mixins */

.select-m--isClosed
{
}

.select-m--isOpened
{
}

.select-m--isCheckedItem
{

  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20d%3D%22M15.623%201l-9.15%2013.174-4.287-4.6L1%2011.03%206.62%2017%2017%202.27%2015.623%201z%22%2F%3E%3C%2Fsvg%3E);
  background-position: 13px 50%;
  background-size: 15px;
}

.select-m--isFocused
{
}
@keyframes spin--spin
{
  from
  {
    transform: rotate(0deg);
  }

  to
  {
    transform: rotate(360deg);
  }
}

.spin--control
{
  display: inline-block;

  width: 16px;
  height: 16px;

  animation: spin--spin 1s infinite linear;

  border: 2px solid #fc0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
}
.spin-xs--control
{

  width: 16px;
  height: 16px;

  line-height: 16px;
}
.spin-s--control
{

  width: 24px;
  height: 24px;

  line-height: 24px;
}
.spin-m--control
{

  width: 28px;
  height: 28px;

  line-height: 28px;
}
.spin-l--control
{

  width: 32px;
  height: 32px;

  line-height: 32px;
}
.spin-xl--control
{

  width: 38px;
  height: 38px;

  line-height: 38px;
}
.textarea-s--control
{

  width: auto;
  padding: 4px 6px;

  font-size: 13px;
}
.textarea-m--control
{

  width: auto;
  padding: 6px 8px;

  font-size: 15px;
}
.tooltip--control
{
  position: absolute;

  cursor: pointer;
  white-space: nowrap;

  color: #fff;

  font-family: arial,sans-serif;
}

.tooltip--control:after
{
  position: absolute;

  content: '';

  border: 7px solid transparent;
}

.tooltip--center
{
  left: 50%;

  transform: translateX(-50%);
}

.tooltip--middle
{
  top: 50%;

  transform: translateY(-50%);
}

.tooltip--bottom
{
}

.tooltip--left
{
}

.tooltip--right
{
}

.tooltip--top
{
}

/* mixins */

.tooltip--isClosed
{
  display: none;
}

.tooltip--isOpened
{
  display: block;
}
.size-xs--control
{
  padding: 0 8px;

  font-size: 13px;
  line-height: 24px;
}

.size-xs--bottom
{

  top: calc(100% + 7px);
}

.size-xs--bottom:after
{
  top: -7px;
  left: calc(50% - 7px);

  border-width: 0 7px 7px 7px;
}

.size-xs--left
{

  right: calc(100% + 7px);
}

.size-xs--left:after
{
  top: calc(50% - 7px);
  right: -7px;

  border-width: 7px 0 7px 7px;
}

.size-xs--right
{

  left: calc(100% + 7px);
}

.size-xs--right:after
{
  top: calc(50% - 7px);
  left: -7px;

  border-width: 7px 7px 7px 0;
}

.size-xs--top
{

  bottom: calc(100% + 7px);
}

.size-xs--top:after
{
  bottom: -7px;
  left: calc(50% - 7px);

  border-width: 7px 7px 0 7px;
}
.color-normal--bottom,
.color-normal--left,
.color-normal--right,
.color-normal--top
{
  background: #5b5b5b;
}

.color-normal--bottom:hover,
.color-normal--left:hover,
.color-normal--right:hover,
.color-normal--top:hover
{
  background: #747474;
}

.color-normal--bottom:after
{
  border-bottom-color: #5b5b5b;
}

.color-normal--bottom:hover:after
{
  border-bottom-color: #747474;
}

.color-normal--left:after
{
  border-left-color: #5b5b5b;
}

.color-normal--left:hover:after
{
  border-left-color: #747474;
}

.color-normal--right:after
{
  border-right-color: #5b5b5b;
}

.color-normal--right:hover:after
{
  border-right-color: #747474;
}

.color-normal--top:after
{
  border-top-color: #5b5b5b;
}

.color-normal--top:hover:after
{
  border-top-color: #747474;
}
.tooltip-normal-xs--bottom
{
}

.tooltip-normal-xs--left
{
}

.tooltip-normal-xs--right
{
}

.tooltip-normal-xs--top
{
}

/* mixins */

.tooltip-normal-xs--isClosed
{
}

.tooltip-normal-xs--isOpened
{
}
.size-s--control
{
  padding: 0 8px;

  font-size: 13px;
  line-height: 28px;
}

.size-s--bottom
{

  top: calc(100% + 7px);
}

.size-s--bottom:after
{
  top: -7px;
  left: calc(50% - 7px);

  border-width: 0 7px 7px 7px;
}

.size-s--left
{

  right: calc(100% + 7px);
}

.size-s--left:after
{
  top: calc(50% - 7px);
  right: -7px;

  border-width: 7px 0 7px 7px;
}

.size-s--right
{

  left: calc(100% + 7px);
}

.size-s--right:after
{
  top: calc(50% - 7px);
  left: -7px;

  border-width: 7px 7px 7px 0;
}

.size-s--top
{

  bottom: calc(100% + 7px);
}

.size-s--top:after
{
  bottom: -7px;
  left: calc(50% - 7px);

  border-width: 7px 7px 0 7px;
}
.tooltip-normal-s--bottom
{
}

.tooltip-normal-s--left
{
}

.tooltip-normal-s--right
{
}

.tooltip-normal-s--top
{
}

/* mixins */

.tooltip-normal-s--isClosed
{
}

.tooltip-normal-s--isOpened
{
}
.size-m--control
{
  padding: 0 10px;

  font-size: 15px;
  line-height: 32px;
}

.size-m--bottom
{

  top: calc(100% + 7px);
}

.size-m--bottom:after
{
  top: -7px;
  left: calc(50% - 7px);

  border-width: 0 7px 7px 7px;
}

.size-m--left
{

  right: calc(100% + 7px);
}

.size-m--left:after
{
  top: calc(50% - 7px);
  right: -7px;

  border-width: 7px 0 7px 7px;
}

.size-m--right
{

  left: calc(100% + 7px);
}

.size-m--right:after
{
  top: calc(50% - 7px);
  left: -7px;

  border-width: 7px 7px 7px 0;
}

.size-m--top
{

  bottom: calc(100% + 7px);
}

.size-m--top:after
{
  bottom: -7px;
  left: calc(50% - 7px);

  border-width: 7px 7px 0 7px;
}
.tooltip-normal-m--bottom
{
}

.tooltip-normal-m--left
{
}

.tooltip-normal-m--right
{
}

.tooltip-normal-m--top
{
}

/* mixins */

.tooltip-normal-m--isClosed
{
}

.tooltip-normal-m--isOpened
{
}
.color-success--bottom,
.color-success--left,
.color-success--right,
.color-success--top
{
  background: #7bc177;
}

.color-success--bottom:hover,
.color-success--left:hover,
.color-success--right:hover,
.color-success--top:hover
{
  background: #8fca8b;
}

.color-success--bottom:after
{
  border-bottom-color: #7bc177;
}

.color-success--bottom:hover:after
{
  border-bottom-color: #8fca8b;
}

.color-success--left:after
{
  border-left-color: #7bc177;
}

.color-success--left:hover:after
{
  border-left-color: #8fca8b;
}

.color-success--right:after
{
  border-right-color: #7bc177;
}

.color-success--right:hover:after
{
  border-right-color: #8fca8b;
}

.color-success--top:after
{
  border-top-color: #7bc177;
}

.color-success--top:hover:after
{
  border-top-color: #8fca8b;
}
.tooltip-success-xs--bottom
{
}

.tooltip-success-xs--left
{
}

.tooltip-success-xs--right
{
}

.tooltip-success-xs--top
{
}

/* mixins */

.tooltip-success-xs--isClosed
{
}

.tooltip-success-xs--isOpened
{
}
.tooltip-success-s--bottom
{
}

.tooltip-success-s--left
{
}

.tooltip-success-s--right
{
}

.tooltip-success-s--top
{
}

/* mixins */

.tooltip-success-s--isClosed
{
}

.tooltip-success-s--isOpened
{
}
.tooltip-success-m--bottom
{
}

.tooltip-success-m--left
{
}

.tooltip-success-m--right
{
}

.tooltip-success-m--top
{
}

/* mixins */

.tooltip-success-m--isClosed
{
}

.tooltip-success-m--isOpened
{
}
.color-warning--bottom,
.color-warning--left,
.color-warning--right,
.color-warning--top
{
  background: #ff7474;
}

.color-warning--bottom:hover,
.color-warning--left:hover,
.color-warning--right:hover,
.color-warning--top:hover
{
  background: #ff8989;
}

.color-warning--bottom:after
{
  border-bottom-color: #ff7474;
}

.color-warning--bottom:hover:after
{
  border-bottom-color: #ff8989;
}

.color-warning--left:after
{
  border-left-color: #ff7474;
}

.color-warning--left:hover:after
{
  border-left-color: #ff8989;
}

.color-warning--right:after
{
  border-right-color: #ff7474;
}

.color-warning--right:hover:after
{
  border-right-color: #ff8989;
}

.color-warning--top:after
{
  border-top-color: #ff7474;
}

.color-warning--top:hover:after
{
  border-top-color: #ff8989;
}
.tooltip-warning-xs--bottom
{
}

.tooltip-warning-xs--left
{
}

.tooltip-warning-xs--right
{
}

.tooltip-warning-xs--top
{
}

/* mixins */

.tooltip-warning-xs--isClosed
{
}

.tooltip-warning-xs--isOpened
{
}
.tooltip-warning-s--bottom
{
}

.tooltip-warning-s--left
{
}

.tooltip-warning-s--right
{
}

.tooltip-warning-s--top
{
}

/* mixins */

.tooltip-warning-s--isClosed
{
}

.tooltip-warning-s--isOpened
{
}
.tooltip-warning-m--bottom
{
}

.tooltip-warning-m--left
{
}

.tooltip-warning-m--right
{
}

.tooltip-warning-m--top
{
}

/* mixins */

.tooltip-warning-m--isClosed
{
}

.tooltip-warning-m--isOpened
{
}
.tumbler--wrapper
{
  position: relative;

  display: inline-block;
  overflow: hidden;

  border-radius: 3px;
}

.tumbler--control
{
  display: block;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
  transition: margin .1s ease-out;
  white-space: nowrap;

  -webkit-tap-highlight-color: transparent;
}

.tumbler--label
{
  display: inline-block;

  box-sizing: border-box;

  cursor: pointer;
  text-align: center;
  vertical-align: middle;

  border-radius: 3px;
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px #c2c2c2;

  font-family: arial,sans-serif;
}

.tumbler--label:first-child
{
  background: #ffeba0;
  box-shadow: inset 0 0 0 1px #ccbd80;
}

.tumbler--delimiter
{
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;

  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;
}

.tumbler--native
{
  position: absolute;

  margin: 0;

  opacity: 0;
  border: 0;
  outline: 0;
}

.tumbler--native:checked + .tumbler--control
{
  margin-left: 0;
}

.tumbler--native:focus + .tumbler--control .tumbler--delimiter
{
  box-shadow: inset 0 0 0 2px #fc0;
}

.tumbler--native:disabled + .tumbler--control .tumbler--label
{
  cursor: default;

  color: rgba(0,0,0,.5);
  background: #ebebeb;
  box-shadow: inset 0 0 0 1px #ebebeb;
}

.tumbler--native:disabled + .tumbler--control .tumbler--label:first-child
{
  background: #d9d9d9;
  box-shadow: inset 0 0 0 1px #d9d9d9;
}

.tumbler--native:disabled + .tumbler--control .tumbler--delimiter
{
  cursor: default;

  background: #d8d8d8;
  box-shadow: none;
}

.tumbler--native:disabled:checked + .tumbler--control .tumbler--delimiter
{
  background: #c8c8c8;
}
.tumbler-xs--wrapper
{

  width: 66px;
  height: 24px;

  font-size: 13px;
}

.tumbler-xs--control
{

  margin: 0 0 0 -42px;
}

.tumbler-xs--label
{

  width: 66px;
  padding: 0 0 0 24px;

  line-height: 24px;
}

.tumbler-xs--label:first-child
{
  margin: 0 -24px 0 0;
  padding: 0 24px 0 0;
}

.tumbler-xs--delimiter
{

  width: 24px;
  margin: 0 0 0 -66px;

  line-height: 24px;
}

.tumbler-xs--native
{
}
.tumbler-s--wrapper
{

  width: 76px;
  height: 28px;

  font-size: 13px;
}

.tumbler-s--control
{

  margin: 0 0 0 -48px;
}

.tumbler-s--label
{

  width: 76px;
  padding: 0 0 0 28px;

  line-height: 28px;
}

.tumbler-s--label:first-child
{
  margin: 0 -28px 0 0;
  padding: 0 28px 0 0;
}

.tumbler-s--delimiter
{

  width: 28px;
  margin: 0 0 0 -76px;

  line-height: 28px;
}

.tumbler-s--native
{
}
.tumbler-m--wrapper
{

  width: 82px;
  height: 32px;

  font-size: 15px;
}

.tumbler-m--control
{

  margin: 0 0 0 -50px;
}

.tumbler-m--label
{

  width: 82px;
  padding: 0 0 0 32px;

  line-height: 32px;
}

.tumbler-m--label:first-child
{
  margin: 0 -32px 0 0;
  padding: 0 32px 0 0;
}

.tumbler-m--delimiter
{

  width: 32px;
  margin: 0 0 0 -82px;

  line-height: 32px;
}

.tumbler-m--native
{
}
